
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Burası Title</title>
</head>
<body>

    <div>
        <h1>BU KISIM DEĞİŞMİYOR LAYOUT SABİT HER ZAMAN AŞAĞIDAKİ FONKSİYONLAR DEĞİŞİYOR</h1>
    </div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
