@using EntityLayer.Concreate
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bütün İçerikler</h2>
@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
    {
    <p>
        Aranacak kelimeyi girin :  @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}

@foreach (var item in Model)
{

    @item.ContentValue
    <br />
    <br />
}

